---
layout: default
title: The voice for OSS on campus
named: Home
banner: true
---

<section class="column events">
  <h1><a href="/events.html">Up &amp; Coming</a></h1>
  <ul>
    {% for post in site.posts %}
      {% if post.layout == "event" %}
      <li>
        <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
        <span class="text"><a href="{{ post.url }}">{{ post.title }}</a></span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
<section class="column news">
  <h1><a href="/news.html">News &amp; Blogs</a></h1>
  <ul>
    {% for post in site.posts %}
      {% if post.layout == "post"  %}
      <li>
        <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
        <span class="text"><a href="{{ post.url }}">{{ post.title }}</a></span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
<section class="column feed" data-n="15">
  <h1><a href="/projects.html">Open source &amp; Us</a></h1>
  <ul class="loading"></ul>
  <a href="/projects.html#full-feed">See more</a>
</section>