---
layout: default
title: The voice for OSS on campus
banner: true
---

<section class="column events">
  <h1>Up &amp; Coming</h1>
  <ul>
    {% for post in site.posts %}
      {% if post.layout == "event" %}
      <li><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
<section class="column news">
  <h1>News &amp; Blogs</h1>
  <ul>
    {% for post in site.posts %}
      {% if post.layout == "post"  %}
      <li><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
<section class="column feed">
  <h1>Feed &amp; Code</h1>
  <ul>
    <li><time>9 Aug 2012</time><a href="#">neutral</a></li>
    <li><time>8 Aug 2012</time><a class="create" href="#">create</a></li>
    <li><time>7 Aug 2012</time><a href="#">neutral</a></li>
    <li><time>6 Aug 2012</time><a class="delete" href="#">delete</a></li>
    <li><time>5 Aug 2012</time><a href="#">neutral</a></li>
  </ul>
</section>