<!DOCTYPE html>
<html lang="en-us">
  <head>
     <meta charset="UTF-8">
     <title>UALUG — {{ page.title }}</title>
     <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
     <link rel="stylesheet" href="/assets/stylesheets/screen.css">
     <script src="/assets/javascripts/underscore.min.js"></script>
     <script src="/assets/javascripts/zepto.min.js"></script>
     <script src="/assets/javascripts/moment.min.js"></script>
     <script src="/assets/javascripts/backbone.min.js"></script>
  </head>
  <body data-page="{{ page.named }}">
    <header>
      <h1><a href="./"><img src="/assets/images/logo.png" alt="UALUG"></a></h1>
      <nav class="social">
        <a href="irc.html"><span class="icon">n</span>IRC</a>
        <a href="https://gitorious.org/+ualug-members"><span class="icon">-</span>Gitorious</a>
        <a href="https://github.com/ualug"><span class="icon">h</span>Github</a>
        <a href="https://facebook.com/ualug"><span class="icon">f</span>Facebook</a>
        <a href="https://identi.ca/group/ualug"><span class="icon">i</span>Identica</a>
        <a href="https://groups.google.com/forum/?fromgroups#!forum/ualug"><span class="icon">@</span>Forum</a>
      </nav>
      <nav class="site">
        <a href="./">Home</a>
        <a href="join.html">Join</a>
        <a href="news.html">News</a>
        <a href="events.html">Events</a>
        <a href="projects.html">Projects</a>
        <a href="about.html">About</a>
      </nav>
    </header>

    {% if page.banner %}
      {% include banner.html %}
    {% endif %}
    
    <div class="container">
      {{ content }}
    </div>

    <div class="ribbon"><a href="https://github.com/ualug">Find us on GitHub ♥</a></div>
    
    <script src="/assets/javascripts/common.js"></script>
    <script src="/assets/javascripts/feed.js"></script>
    <script src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
    {% include templates.html %}
  </body>
</html>